body {
  margin: 0;
}

#topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
#flexing {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.divicon span {
  padding: 0 10px 0 10px;
}
#content {
  background-color: #f5f5f5;
  margin-top: 57px;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
}
#video {
  flex-grow: 6;
  margin-right: 0;
}
.videoframe {
  width: 168px;
  height: 87px;
}
#playvid {
  width: 915px;
  height: 514px;
  margin-left: 60px;
}
#suggestions {
  padding-left: 0;
}
.options {
  margin: 5px;
  padding: 6px;
  background-color: #e5e4e2;
  border-radius: 16px;
}
#option1 {
  background-color: black;
  color: white;
}
#suggest-text {
  margin: 15px 0 30px 20px;
}
.cards {
  display: flex;
  flex-direction: row;
  vertical-align: text-top;
  margin-left: 27px;
  margin-bottom: 5px;
}
#suggestioninfo {
  margin: 0 10px;
  padding: 0;
}
#bottomsection {
  margin-left: 60px;
}
#vidtitle {
  font-size: 20px;
}
.greytext {
  color: grey;
}
#discri2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.flexing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexs {
  margin-right: 30px;
  width: 460px;
  height: 50px;
  align-items: center;
  border-color: #e5e4e2;
  border-style: ridge;
  border-width: 0.5px;
  border-width: 0.5px;
}
.flexes {
  align-items: center;
  height: 50px;
  width: 460px;
  border-color: #e5e4e2;
  border-style: ridge;
  border-width: 0.5px;
}
#image2 {
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.button {
  background-color: red;
  height: 30px;
  width: 100px;
  color: white;
  border: none;
  margin-right: 10px;
}
#subinfo {
  margin-left: 10px;
}
#subno {
  color: gray;
  font-size: 12px;
}
#marginleft {
  margin-left: 10px;
  border-right: ridge;
  border-width: 0.5px;
}
.sugestword {
  color: gray;
}
.small {
  font-size: 13px;
}
.smallz {
  font-size: 15px;
}
#moreinfo {
  margin: 17px 0;
}
#leftmargin {
  margin-left: 20px;
}
.greens {
  background-color: #008080;
  padding: 15px;
  border-radius: 60%;
}
#commenttext {
  margin-left: 15px;
  color: gray;
}
#undercomment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.margo {
  margin-left: 65px;
}
.margo1 {
  margin: 0 15px;
  color: #848884;
}
.more {
  background-color: #d3d3d3;
  border: none;
}
.flexz {
  display: flex;
  flex-direction: row;
}
